.navbar {
  background-color: #ffffff;
  position: sticky !important;
  top: 0;
  z-index: 999;
}
.navbar-container {
  width: 1240px !important;
  margin: 0 auto !important;
  padding: 10px 0 !important;
}
.sidebar {
  justify-content: end !important;
  flex-grow: 1;
  padding-right: 20px;
}
.flexContainer {
  position: fixed;
  top: 75px !important;
}
.btn-signin {
  background-color: var(--btn-bg-color) !important;
}
.btn-signin:hover {
  background-color: var(--btn-bg-hover) !important;
}
.toggler-icon {
  box-shadow: none !important;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
}
.toggler-icon:hover {
  border: 1px solid var(--btn-bg-color1) !important;
  padding: 2px 5px !important;
  transition: 0.3s ease-in-out !important;
}
